<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Spring Boot App</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <script src="../static/scripts/jquery.min.js" th:src="@{/scripts/jquery.min.js}"></script>
    <script src="../static/scripts/bootstrap.min.js" th:src="@{/scripts/bootstrap.min.js}"></script>
    <script src="../static/scripts/script.js" th:src="@{/scripts/script.js}"></script>
</head>
<body style="background-color: #e5f3ff">
<div class="panel panel-default" style="max-width: 70%; margin: 2% auto auto; min-height: 100vh">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3" style="width: 15%">
                <button id="btn-read-all" class="btn btn-default">Read all</button>
            </div>
            <div class="col-xs-3">
                <div class="input-group">
                    <input id="input-read-by-id" type="text" class="form-control" placeholder="Order id" />
                    <span class="input-group-btn">
                        <button id="btn-read-by-id" class="btn btn-default" type="button">Read</button>
                    </span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="input-group">
                    <input id="input-add-to-cart" type="text" class="form-control" placeholder="Cart id" />
                    <span class="input-group-btn">
                        <button id="btn-add-to-cart" class="btn btn-default" type="button">Add</button>
                    </span>
                </div>
            </div>
            <div class="col-xs-3" style="width: 35%">
                <div class="input-group">
                    <input id="input-del-order-id" type="text" class="form-control" placeholder="Order id" />
                    <span class="input-group-addon"></span>
                    <input id="input-del-prod-id" type="text" class="form-control" placeholder="Product id" />
                    <span class="input-group-btn">
                        <button id="btn-del-by-id" class="btn btn-default" type="button">Delete</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="panel-body" class="panel-body"></div>
</div>
</body>
</html>